body {
  font-family: Arial;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input,
.date-input,
.edit-input {
  font-size: 15px;
  padding: 6px;
  box-sizing: border-box;
}

.add-button {
  background-color: rgb(33, 153, 83);
  color: aliceblue;
  font-size: 15px;
  border: none;
  cursor: pointer;
  padding: 7px;
}

.edit-button,
.confirm-button,
.delete-button {
  color: aliceblue;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
}

.edit-button {
  background-color: rgb(218, 218, 0);
  color: black;
}

.confirm-button {
  background-color: rgb(33, 153, 83);
}

.delete-button {
  background-color: darkred;
}

.todo-actions {
  display: flex;
  gap: 5px;
}

.todo-actions button {
  flex: 1;
  min-width: 0;
}
